.mainContainer {
  width: 100%;
  padding-top: 25px;
  display: flex;
  justify-content: center;
  .itemInfo {
    width: 90%;
    height: 654px;
    display: flex;
    justify-content: center;
    .itemPhotos {
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: center;
      .carousel {
        width: 512px;
        height: 100%;
        .carouselItem {
          width: 100%;
          height: 654px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        background-color: royalblue;
      }
      .allPhotos {
        width: 65px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 16px;
        .photoWrapper {
          width: 43px;
          height: 55px;
          overflow: hidden;
          margin-bottom: 10px;
          background-color: green;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .itemDesc {
      width: 30%;
      height: 100%;
      background-color: pink;
    }
  }
}
