.payment_wrapper {
  width: 100%;
  height: 96px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  span {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    position: absolute;
    left: 0;
    top: 0;
  }
  .payment_type_wrapper {
    width: 100px;
    height: 56px;
    background: #f2f2f2;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
  }
}
.selectble_paymen_wrapper {
  width: 100%;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  span {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    position: absolute;
    left: 0;
    top: 0;
  }

  .payment_type_wrapper {
    width: 56px;
    height: 40px;
    background: #f2f2f2;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    img {
      transform: scale(0.7);
    }
    &:focus {
      outline: none;
    }
  }
  .active {
    background-color: white;
    border: 1px solid #45cc95;
    box-sizing: border-box;
  }
}
