@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserratarm-Black.otf") format("truetype");
}
@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserratarm-Bold.otf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserratarm-Medium.otf") format("truetype");
}
@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserratarm-Regular.otf") format("truetype");
}
