@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserratarm-Black.otf") format("truetype");
}
@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserratarm-Bold.otf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserratarm-Medium.otf") format("truetype");
}
@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserratarm-Regular.otf") format("truetype");
}

body {
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 8px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
