@font-face {
  font-family: Vrdznagir;
  src: url("../assets/fonts/Vrdznagir.otf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/MontserratAlternates-Italic.otf") format("truetype");
}
