.full_page_wrapper {
  width: 100%;
  height: 100%;
  .header {
    width: 100%;
    height: 80px;
    background: #ffffff;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    .navbar {
      min-width: 881px;
      height: 100%;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .link_button {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
        cursor: pointer;
        transition: 300ms;
        position: relative;
        .arrow {
          width: 24px;
          height: 24px;
          transition: 300ms;
          transform-origin: center;
        }
      }
      .active {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: black;
        transition: 300ms;
      }
    }
    .logo_wrapper {
      width: 120px;
      height: 100%;
      position: absolute;
      left: 20px;
      img {
        height: 100%;
      }
    }
  }
  .sub_bur_container_opened {
    width: 100%;
    height: 272px;
    position: absolute;
    background-color: white;
    top: 80px;
    overflow: hidden;
    transition: 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .sub_bur_container_closed {
    width: 100%;
    height: 0;
    background-color: white;
    position: absolute;
    top: 80px;
    overflow: hidden;
    transition: 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .category_container {
    width: 40%;
    height: 192px;
    margin: 16px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }

    .category_container_hover {
      width: 100%;
      height: 82px;
      opacity: 0;
      background: linear-gradient(
        180deg,
        rgba(35, 35, 35, 0) 0%,
        rgba(35, 35, 35, 0.5) 100%
      );
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 300ms;
      span {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #ffffff;
      }
    }
    &:hover {
      .category_container_hover {
        opacity: 1;
      }
    }
    .selected {
      opacity: 1;
    }
  }

  .children_container {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
