.full_page_wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  .header {
    width: 100%;
    height: 80px;
    // overflow: hidden;
    background: #ffffff;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    .hamburger_wrapper_closed {
      display: none;
    }
    .navbar {
      min-width: 881px;
      height: 100%;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .link_button {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
        cursor: pointer;
        transition: 300ms;
        position: relative;
        .arrow {
          width: 24px;
          height: 24px;
          transition: 300ms;
          transform-origin: center;
        }
      }
      .active {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: black;
        transition: 300ms;
      }
    }
    .navbar_mobile {
      display: none;
    }
    .logo_wrapper {
      width: 120px;
      height: 100%;
      position: absolute;
      left: 20px;
      img {
        height: 100%;
      }
    }
  }
  .sub_bur_container_opened {
    width: 100%;
    height: 272px;
    position: absolute;
    background-color: white;
    top: 80px;
    overflow: hidden;
    transition: 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .sub_bur_container_closed {
    width: 100%;
    height: 0;
    background-color: white;
    position: absolute;
    top: 80px;
    overflow: hidden;
    transition: 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .category_container {
    width: 40%;
    height: 192px;
    margin: 16px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }

    .category_container_hover {
      width: 100%;
      height: 82px;
      opacity: 0;
      background: linear-gradient(
        180deg,
        rgba(35, 35, 35, 0) 0%,
        rgba(35, 35, 35, 0.5) 100%
      );
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 300ms;
      span {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #ffffff;
      }
    }
    &:hover {
      .category_container_hover {
        opacity: 1;
      }
    }
    .selected {
      opacity: 1;
    }
  }

  .children_container {
    width: 100%;
    height: calc(100% - 80px);
    overflow-x: hidden;
    overflow-y: auto;
  }

  @media only screen and (max-width: 1160px) {
    .header {
      // background-color: green;
      position: relative;
      .hamburger_wrapper_closed {
        width: 48px;
        height: 48px;
        display: block;
        position: absolute;
        right: 16px;
        background: none;
        border: 0;

        &:before,
        &:after,
        & div {
          background: #333333;
          content: "";
          display: block;
          height: 6px;
          border-radius: 3px;
          margin: 7px 0;
          transition: 0.5s;
        }
      }
      .hamburger_wrapper_opened {
        width: 48px;
        height: 48px;
        display: block;
        position: absolute;
        right: 16px;
        background: none;
        border: 0;

        &:before,
        &:after,
        & div {
          background: #333333;
          content: "";
          display: block;
          height: 6px;
          border-radius: 3px;
          margin: 7px 0;
          transition: 0.5s;
        }

        &:before {
          transform: translateY(12px) rotate(135deg);
        }
        &:after {
          transform: translateY(-14px) rotate(-135deg);
        }
        & div {
          transform: scale(0);
        }
      }
      .navbar {
        display: none;
      }

      .logo_wrapper {
        left: 0;
        right: 0;
        margin: auto;
      }
    }
    .sub_bur_container_opened {
      display: none;
    }

    .navbar_mobile {
      width: 0;
      height: 100%;
      background-color: white;
      z-index: 1;
      display: flex;
      position: absolute;
      right: 0;
      top: 80px;
      transition: 200ms;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      box-sizing: border-box;
      .menu_title {
        font-family: Montserrat arm;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #333333;
        margin: 24px;
      }
      .link_button {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        font-family: Montserrat;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
        margin-left: 24px;
        cursor: pointer;
        transition: 300ms;
        margin-bottom: 16px;
      }
      .sub_bar_wrapper {
        width: 75%;
        height: 224px;
        margin: 0;
        margin: 0px 24px 32px 24px;
        overflow: hidden;
        transition: 300ms;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
      .sub_bar_closed {
        height: 0;
        margin-bottom: 0;
      }
      .category_container_mobile {
        width: 100%;
        height: 104px;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
        .category_container_hover {
          width: 100%;
          height: 40px;
          background: linear-gradient(
            180deg,
            rgba(35, 35, 35, 0) 0%,
            rgba(35, 35, 35, 0.5) 100%
          );
          position: absolute;
          bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 300ms;
          span {
            font-family: Montserrat;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
          }
        }
      }
      .active {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: black;
        transition: 300ms;
      }
    }
    .opened {
      width: 340px;
    }
  }
}
